/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

.container {
	width: 100%;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1170px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.col-12,
.col-lg-5,
.col-lg-7 {
	padding-left: 15px;
	padding-right: 15px;
}

.col-12 {
	width: 100%;
}

.col-lg-5 {
	@media (min-width: 992px) {
		width: calc(500% / 12);
	}
}

.col-lg-7 {
	@media (min-width: 992px) {
		width: calc(700% / 12);
	}
}
