.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 24px;

  .form-label {
    font-size: 13px;
    margin-bottom: 8px;
    font-weight: $font-weight-bold;
  }

  .form-control {
    width: 100%;
    border: 1px solid $gray;
    border-radius: $border-radius-medium;
    padding: 4px 12px;
    line-height: 22px;
    transition: .15s;

    &:hover,
    &:focus {
      border-color: $primary;
      outline: none;
    }

    &.error {
      border-color: $danger;
    }
  }

  .form-description {
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 4px;

    &.error {
      color: $danger;
    }
  }
}
