// Color
$gray: #ddd;
$primary: #4a74fd;
$white: #fff;
$success: #5cb85c;
$turquoise: #30bcd4;
$danger: #d9534f;

// typography
$font-primary: 'Open Sans';
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-size-base: 14px;

// Border
$border-radius-medium: 4px;
$border-radius-sm: 2px;
