.select-group {
  .select {
    &__value-container {
      line-height: 1;
      padding: 2px 12px;
    }

    &__control {
      border-color: $gray;
      border-radius: 0;
      transition: .15s;

      &:hover {
        border-color: $primary;
        outline: none;
      }
    }

    &__indicators {
      width: 30px;
      min-width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 12px;
        height: 12px;
      }
    }

    &__single-value {
      line-height: 22px;
    }
  }
}
