@charset "UTF-8";
/* Abstracts */
/*------------------------------------*\
    #MIXINS
\*------------------------------------*/
/* Base */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.text-center {
  text-align: center; }

.mb-0 {
  margin-bottom: 0 !important; }

.mt-4 {
  margin-top: 24px !important; }

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.w-100 {
  width: 100% !important; }

.border-0 {
  border: 0 !important; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5; }

h1, h2, h3, h4, h5 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 12px; }

h1 {
  font-size: 28px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

/*------------------------------------*\
    #MEDIA
\*------------------------------------*/
/**
 * Responsive image styling
 * 1) Allows for images to flex with varying screen size
 */
img {
  max-width: 100%;
  height: auto; }

/* Layout */
/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.col-12,
.col-lg-5,
.col-lg-7,
.col-6 {
  padding-left: 15px;
  padding-right: 15px; }

.col-6 {
  width: 50%; }

.col-12 {
  width: 100%; }

@media (min-width: 992px) {
  .col-lg-5 {
    width: calc(500% / 12); } }

@media (min-width: 992px) {
  .col-lg-7 {
    width: calc(700% / 12); } }

.main-container {
  min-height: calc(100vh - 140px); }

header {
  height: 60px; }

footer {
  height: 80px; }

/* Components */
.btn {
  display: inline-block;
  padding: 4px 12px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  line-height: 24px;
  transition: .15s; }
  .btn:focus {
    border: none;
    outline: none; }
  .btn:hover {
    opacity: .7; }
  .btn.success {
    background-color: #5cb85c; }
  .btn.primary {
    background-color: #4a74fd; }
  .btn.danger {
    background-color: #d9534f; }
  .btn.turquoise {
    background-color: #30bcd4; }

/*------------------------------------*\
    #CARD
\*------------------------------------*/
.card {
  padding: 24px 32px 32px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px; }
  .card .card__title {
    text-align: center;
    margin-bottom: 36px; }

.datepicker-group .datepicker-control {
  display: flex; }
  .datepicker-group .datepicker-control input {
    border: 1px solid #ddd;
    border-right: 0;
    transition: .15s;
    padding: 4px 12px;
    width: calc(100% - 32px); }
    .datepicker-group .datepicker-control input:hover, .datepicker-group .datepicker-control input:focus {
      border-color: #ddd;
      outline: none; }
  .datepicker-group .datepicker-control .datepicker-suffix {
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    min-width: 32px;
    height: 32px;
    transition: .15s; }
    .datepicker-group .datepicker-control .datepicker-suffix svg {
      width: 16px;
      height: 16px; }
  .datepicker-group .datepicker-control:hover input,
  .datepicker-group .datepicker-control:hover .datepicker-suffix {
    border-color: #4a74fd; }

.datepicker-group.error .datepicker-control input,
.datepicker-group.error .datepicker-control .datepicker-suffix {
  border-color: #d9534f; }

.select-group .select__value-container {
  line-height: 1;
  padding: 2px 12px; }

.select-group .select__control {
  border-color: #ddd;
  border-radius: 0;
  transition: .15s; }
  .select-group .select__control:hover {
    border-color: #4a74fd;
    outline: none; }

.select-group .select__indicators {
  width: 30px;
  min-width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .select-group .select__indicators svg {
    width: 12px;
    height: 12px; }

.select-group .select__single-value {
  line-height: 22px; }

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 24px; }
  .form-group .form-label {
    font-size: 13px;
    margin-bottom: 8px;
    font-weight: 700; }
  .form-group .form-control {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 4px 12px;
    line-height: 22px;
    transition: .15s; }
    .form-group .form-control:hover, .form-group .form-control:focus {
      border-color: #4a74fd;
      outline: none; }
    .form-group .form-control.error {
      border-color: #d9534f; }
  .form-group .form-description {
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 4px; }
    .form-group .form-description.error {
      color: #d9534f; }

/* Page */
.collapse {
  margin-bottom: 20px; }
  .collapse__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 16px; }
    .collapse__header .title {
      display: flex;
      align-items: center; }
  .collapse__content {
    max-height: 0;
    overflow: hidden;
    background-color: #fff;
    padding: 0 20px;
    transition: max-height 0.1s, padding-top 0.1s, padding-bottom 0.1s; }
    .collapse__content.active {
      max-height: 500px;
      padding: 20px;
      border: 1px solid #ddd;
      border-top: 0;
      overflow: visible;
      transition: max-height 0.3s ease-out, padding-top 0.15s ease-out, padding-bottom 0.15s ease-out; }
  .collapse .title {
    width: calc(100% - 160px); }
  .collapse .todo-title {
    margin-left: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 30px); }

.group-buttons .btn:first-child {
  margin-right: 12px; }

.bulk-action {
  position: fixed;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
  width: 100vw;
  bottom: 0;
  left: 0;
  padding: 0 80px; }
